

<%= form_for(@team) do |f| %>

  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="field">
    <div style="color:white; font-size:25px" ><%= f.label :team_name %></div><br>
    <%= f.text_field :team_name, :maxlength => 30, :required => true %>
  </div><br>

  <div class="field">
    <div style="color:white; font-size:25px" > <%= f.label :league %></div><br>
    <%= f.select(:league, %w[Gold Silver Bronze]) %>
  </div>

<!-- Uploading images will be included into iteration 2 with AWS.
Ignore in frontend for iteration 1.
  <div class="field">
    <%= f.label "Team Logo" %><br>
    <%= f.file_field :logo %>
  </div>
-->

  <div class="actions"><br><br>
    <%= f.submit class: "btn btn-primary btn-lg"%><br><br>
  </div>
<% end %>
