<div class= "container">
  <div class="col-md-5 col-md-offset-7">
        <div class="panel-heading">
          <h1 class="page-header">About This Team</h1>
         </div>

<!-- Images will be included into iteration 2 with AWS.
Ignore in frontend for iteration 1.
<%= image_tag @team.logo.url(:medium) %>
<br/>
-->

<div class="panel-body">
<p>
  <strong style="color:#9e0c0c">Team Name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong style="color:#9e0c0c">Team Message:</strong>
  <%= @team.team_message %>
</p>

<p>
  <strong style="color:#9e0c0c">League:</strong>
  <%= @team.league %>
</p>

<p>
  <strong style="color:#9e0c0c">Number of Users:</strong>
  <%= @team.players_id.count %>
</p>

<% if @team.players_id.count > 0 %>
  <p>
    <strong style="color:#9e0c0c">Users:</strong>
    <% @team.players_id.each do |player_id| %>
      <%= User.find(player_id).name %><br>
    <% end %>
  </p>
<% end %>

<!-- Uploading/viewing images will be included into iteration 2 with AWS.
Ignore in frontend for iteration 1.
<p>
  <strong>Users:</strong>
  <% @team.players_id.each do |players| %>
    <%= players %><br>
  <% end %>
</p>
-->

<% previous_url = url_for(:back) %>
<div style= "font-size:18px">
<% if previous_url.include? "/teams/new" %>
  <%= link_to 'Continue', home_path, {:style=>"color:#fff;"} %>
<% else %>

  <%= link_to 'Back', :back, {:style=>"color:#fff;"} %><br>

  <% if @team.players_id.include? current_user.id %>
    <% if @team.captain_id == current_user.id %>
      <%= link_to "Delete Team", team_path(@team), method: :delete, data: { confirm: "Are you sure?" }, style: "color:#fff" %><br>
    <% else %>
      <%= link_to "Leave Team", leave_team_team_path, {:style=>"color:#fff;"} %><br>
    <% end %>
  <% end %>

  <% if @team.captain_id == current_user.id %>
    <%= link_to "Edit Team" , edit_team_path(@team), {:style=>"color:#fff;"} %><br>
    <%= link_to "Manage Team", captain_team_team_path(@team), {:style=>"color:#fff;"} %><br>
  <% end %>


  </div>
<% end %>
</div>
</div>




<style>

body {
  background: url("/assets/jordan6.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

 p{
   font-size:20px;
 }

</style>
