<div class= "container">

<h1 class="page-header">About This Team</h1>


<p id="notice"><%= notice %></p>

<!-- Images will be included into iteration 2 with AWS.
Ignore in frontend for iteration 1.
<%= image_tag @team.logo.url(:medium) %>
<br/>
-->

<p>
  <strong>Team Name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>League:</strong>
  <%= @team.league %>
</p>

<p>
  <strong>Number of Users:</strong>
  <%= @team.players_id.count %>
</p>

<!-- Uploading/viewing images will be included into iteration 2 with AWS.
Ignore in frontend for iteration 1.
<p>
  <strong>Users:</strong>
  <% @team.players_id.each do |players| %>
    <%= players %><br>
  <% end %>
</p>
-->

<% previous_url = url_for(:back) %>
<% if previous_url.include? "/teams/new" %>
  <%= link_to 'Continue', home_path %>
<% else %>
  <%= link_to 'Back', :back %>
<% end %>

</div>
