
<h1>Pending Scores</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Team 1</th>
      <th>Team 2</th>
      <th>Team 1 Score Submission</th>
      <th>Team 2 Score Submission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <% if(!score.approved_score? && (score.captain_1_team_1_score || score.captain_2_team_1_score)) %>
        <tr>
          <% team1 = Team.find(score.team_1_id) %>
          <% team2 = Team.find(score.team_2_id) %>
          <td><%= team1.team_name %></td>
          <td><%= team2.team_name %></td>
          <td><%= score.captain_1_team_1_score %> - <%= score.captain_1_team_2_score %></td>
          <td><%= score.captain_2_team_1_score %> - <%= score.captain_2_team_2_score %></td>
          <td><%= link_to "Accept Team 1's Submission", :controller => "score", :id => score.id, :action => "team_1_score_accept",
           :method => :put, :status => true, :class => "btn btn-sm btn-primary btn-block", role: "button"  %></td>
          <td><%= link_to "Accept Team 2's Submission", :controller => "score", :id => score.id, :action => "team_2_score_accept",
           :method => :put, :status => true, :class => "btn btn-sm btn-primary btn-block", role: "button"  %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

 </div>
