<body>
<div class="container">
  <%= form_for(@map) do |f| %>
  <table>
    <tr>
      <td>
          <h2>Add new location in the Map!</h2>
          <div id="form">
          	 <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
              </br>

              <%= f.label :info %>
              <%= f.text_field :info, class: 'form-control' %>
              </br>

              <%= f.label :lat %>
              <%= f.number_field :lat , :class => 'text_field', :step => 0.0001 %>
              </br></br>

              <%= f.label :lng %>
              <%= f.number_field :lng , :class => 'text_field', :step => 0.0001 %>
              </br></br>

              <%= f.label :league %>
              <%= f.select :league, Map.leagues.map { |key, value| [key.humanize, key] } %>
              </br></br>

              <%= f.submit "Create location", class: "btn btn-primary" %>

            <% end %>
          </div>
        </div>
        </div>
      </td>
    </tr>
  </table>
</div>
</body>

<style>
body {
  background-image: url("/assets/van2.png");
  background-size: 100%;
  background-attachment: fixed;
}

table {
  margin-left: 40%
}

td {
  width: 440px;
}

</style>
