<body>

  <%= form_for(@user) do |f| %>
  <%= render 'error_msg/error_messages' %>

  <table>
    <tr>
      <td></td>
      <td><div id="title"><p id="title">Join the Community!</p></div></td>
    </tr>
    <tr>
      <td>
        <div id="image"><img src="/assets/sign-up-picture.png"><div>
      </td>
      <td>
          <div id="form">
          	 <%= f.label :username %>
              <%= f.text_field :username, class: 'form-control' %>
              </br>

              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>
              </br>

              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
              </br>

              <%= f.label :password_confirmation, "Retype Password" %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
              </br>

              <%= f.submit "Create account", class: "btn btn-primary" %>

            <% end %>
          </div>
        </div>
        </div>
      </td>
    </tr>
  </table>





</body>


<style>
body {
  background-color: #E3E7E8;
}

  table, td {
    margin-left: auto;
    margin-right: auto;
  }

  img {
    width: 100%;
    height:100%;
  }

  #image {
    width: 500px;
    margin: 0px;
    padding: 0px;
  }

  #title {
    font-size: 30px;
    color: #6972be;
  }

  #form {
    width: 700px;
  }

</style>
