<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<body>
<div class="container">
  <div class="col-md-5 col-md-offset-7">
  <div class="panel-heading">
  <h1 class="page-header" style="color:#ffffff">User Profile</h1>
  </div>

  <div class="panel-body">

      <div class="form-group" style= "margin-top:-20px ">
          <h3><strong style="color:#c45907">Name:</strong> <%= @user.name %><h3>
      </div>
      <div class="form-group">
          <h3><strong style="color:#c45907">Email:</strong> <%= @user.email %><h3>
      </div>
      <div class="form-group">
          <h3><strong style="color:#c45907">About:</strong> <%= @user.about %><h3>
      </div>
      <div class="form-group">
          <h3><strong style="color:#c45907">Height:</strong> <%= @user.height %><h3>
      </div>
      <div class="form-group">
          <h3><strong style="color:#c45907">Weight:</strong> <%= @user.weight %><h3>
      </div>
      <div class="form-group">
        <%=
          if @user.twitter.present?
            link_to(image_tag("/logo/Twitter.png", :alt =>"twitterLogo", :style => "height:15%; width:15%"), "http://www.twitter.com/#{@user.twitter}", :target => "_blank")
          end
        %>
      </div>
      <div>
        <%=
          if current_user.id == @user.id
            link_to "Edit", edit_user_path(current_user)
          end
        %>
        <% if current_user.admin? && !current_user?(@user) %>
          <%= link_to "Delete", @user, method: :delete,
                                        data: { confirm: "You sure?" } %>
        <% end %>
      </div>

  </div>
</div>
</body>


<style>
  body {
    background: url("/assets/ball.jpg") ;
    color:white;
    background-size:100%;
  }

  .row {
    margin-left: 58%;
  }


  aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

  .gravatar {
    float: left;
    margin-right: 10px;
  }

  .gravatar_edit {
    margin-top: 15px;
  }

</style>
